.media-well
  margin 1rem auto
  display block
  padding 1rem
  background-color $light-gray
  border 1px solid darken($light-gray, 2%)
  width 100%

@media $mobile-med
  .media-well
    margin 88px 0
    
.media-well__figure
  display table
  margin 0 auto
  
.media-well__figure--video
  margin 0 auto
  max-width 650px

.media-well__image
  margin 0 auto
  width 100%
  max-width 900px
  
.media-well__caption
  padding 0px 0px 1rem 0px
  
@media $mobile-med
  .media-well__caption
    padding 1rem 0px 1rem 0px