.social-nav__icon::before
  color white

.social-nav__item
  bghover-lighten($accent-color)
  background-color $accent-color
  border-radius 30px
  display inline-block 
  height 30px
  margin-left 0.5rem
  margin-right 0.5rem
  position relative
  width 30px

.social-nav__icon::before
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%)