extends _base/layout.pug

block content
  section.page-wrap
    .text-wrap.error
      img.life-got-twisted-upsidedown(src="/images/error.gif")
      h1.headline
        | Aww Come On!
      p
        | Looks like this page doesn't exist or I messed something up. 
        a(href="/", class="text-link") 
          | Check out the homepage
        |  and see if you can find what you're looking for.