/*from bootstrap3, mobile first */

  /* Custom, iPhone Retina */ 
  $mobile-small = 'screen and (min-width : 320px)'

  /* Extra Small Devices, Phones */ 
  $mobile-med = 'screen and (min-width : 480px)'

  /* Small Devices, Tablets */
  $tablet = 'screen and (min-width : 768px)'

  /* Medium Devices, Desktops */
  $desktop = 'screen and (min-width : 992px)'
  
  /* Large Devices, Wide Screens */
  $desktop-large = 'screen and (min-width : 1200px)'