.article 
  margin-bottom 2rem

.article-head
  text-align center
  padding-bottom 24px 
  
.article-head__headline
  margin-bottom 15px
  
.article .tag 
  margin-top 0
  margin-bottom 0
  font-size 16px
  
@media $mobile-med
  .article .tag 
    font-size 18px

.article h2
  color $deep-purple

.article li 
  @extends p
  