/*from bootstrap3, mobile first */

/* Custom, iPhone Retina */ 
$mobile-small = 'screen and (min-width : 320px)'

/* Extra Small Devices, Phones */ 
$mobile-med = 'screen and (min-width : 475px)'

/* Small Devices, Tablets */
$tablet = 'screen and (min-width : 725px)'

$tablet-med = 'screen and (min-width : 900px)'

/* Medium Devices, Desktops */
$desktop = 'screen and (min-width : 1042px)'

/* Large Devices, Wide Screens */
$desktop-large = 'screen and (min-width : 1200px)'